html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #212529;
}
p {
  margin: 0;
}
button {
  border: none;
  outline: none;
  box-shadow: none;
}
button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: transparent !important;
}
input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
input:focus {
  border-color: transparent !important;
  border: none;
  outline: none;
  box-shadow: none;
}
.margin__right {
  margin-right: 10px;
}
.margin__left {
  margin-left: 10px;
}
.margin__five {
  margin: 5px;
}
.margin__ten {
  margin: 10px !important;
}
.padding__five {
  padding: 5px !important;
}
.padding__ten {
  padding: 10px !important;
}
.small__text {
  font-size: 8px !important;
}
.nfttunz__loader__wrapper {
  z-index: 999;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nfttunz__navbar__toggler {
  border: none;
  outline: none;
}
.nfttunz__navbar__toggler:hover i {
  color: #000;
}
.nfttunz__navbar__toggler:focus {
  border: none;
  outline: none;
}
.nfttunz__navbar {
  color: #000 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  width: 100%;
  border-bottom: 8px solid #eee;
}
.nfttunz__navbar__brand {
  width: 250px;
}
.nfttunz__navbar button {
  color: #000 !important;
}
.nfttunz__navbar__search__wrapper {
  background-color: #eee;
  display: flex;
  border-radius: 15px;
}
.nfttunz__login__button {
  background-color: #eee;
  display: flex;
  border-radius: 15px;
  padding: 6px 12px;
}
.nfttunz__login__button {
  font-size: 12px;
}
.nfttunz__navbar__search__wrapper input {
  background-color: transparent;
  border: none;
}

.nfttunz__navbar__search__main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nfttunz__navbar__search__wrapper button {
  border: none;
  outline: none;
  color: #eee;
}
.nfttunz__navbar__search__wrapper button:hover {
  background: transparent;
}
.nfttunz__navbar__search__wrapper button:focus {
  box-shadow: transparent;
}
.nfttunz__navbar__search__wrapper button i {
  color: rgb(189, 184, 184);
}
.nfttunz__navbar__links__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.nfttunz__navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nfttunz__navbar__links li a {
  padding: 0 25px;
  color: rgb(122, 118, 118);
  font-weight: bold;
  font-size: 14px;
}
.nfttunz__avatar__wrapper {
  background-color: #eee;
  border-radius: 50%;
  padding: 6px;
}
.nfttunz__notification__wrapper {
  position: relative;
  background-color: #eee;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 6px;
}
.nfttunz__notification__wrapper button i {
  font-size: 20px!important;
}
.notification {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: red;
  color:#fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: 8px;
  font-weight: 900;
}
.notification-paragraph {
  background-color: rgb(245, 245, 245);
  padding: 0px 15px;
  box-sizing: border-box;
  min-width: 300px;
}
.mark-as-read-button {
  font-size: 10px;
  font-weight: bolder;

}
.nfttunz__avatar__wrapper img {
  border-radius: 50%;
}
.nfttunz__main__header__overlay {
  padding: 100px 0px;
  background-color: rgba(0, 0, 0, 0.452);
}
.nfttunz__main__header {
  background-image: url('https://images.pexels.com/photos/2111015/pexels-photo-2111015.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  margin-bottom: 50px;
  background-size: cover;
}

.nfttunz__profile__header__overlay {
  padding: 50px 0px;
}

.header__title {
  margin-bottom: 50px;
  color: #fff;
}
.header__title h1 {
  font-size: 50px;
}
.profile__header__title {
  margin-bottom: 10px;
}
.profile__header__title h1 {
  font-size: 30px;
  color: #fff;
  margin: 0px;
}
.profile__header__title small a {
  color: #fff;
}
.profile__header__title img {
  margin-bottom: 20px;
}
.header__button {
  margin-top: 50px;
}
.profile__header__button {
  margin-top: 10px;
}
.profile__header__button a {
  background: #5e5e5e;
  padding: 4px 10px;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  border: 0.4px solid transparent;
  transition: 1s all ease-in;
}
.header__button a {
  background: #5e5e5e;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  border: 0.4px solid transparent;
  transition: 1s all ease-in;
}
.header__button a:hover {
  cursor: pointer;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.section__title {
  margin-bottom: 30px;
}
.section__title h2 {
  font-weight: bold;
}
.tag__wrapper {
  display: block;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  margin-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
  color: #5e5e5e;
  padding: 0.4rem;
  padding-right: 0.65rem;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
}
.tags__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag__wrapper img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}
.tag__wrapper a {
  color: #5e5e5e;
  text-decoration: none;
}
.footer__wrapper {
  padding: 30px 0px;
}
.footer__wrapper p {
  background: #eeecec;
  color: #000;
  border-radius: 20px;
  max-width: max-content;
  margin: auto;
  padding: 5px 20px;
}
.music__card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 0px;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
  min-height: 270px;
  max-height: 270px;
}
.music__card__title {
  padding: 10px 10px;
}
.music__card__thumbnail {
  text-align: center;
}
.music__card__thumbnail img {
  width: 100px;
  min-height: 100px;
  max-height: 100px;
  object-fit: contain;
}
.music__card__title h4 {
  font-size: 11px;
  font-weight: 700;
}
.music__card__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.music__card__artiste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.music__card__artiste small {
  font-size: 8px;
  text-align: center;
  align-self: center;
}
.music__card__artiste h6 {
  font-size: 14px;
}
.music__card__extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.music__card__extras h6 {
  font-size: 11px;
  margin-right: 5px;
}
.play__button {
  padding: 10px 0px;
  display: flex;
}
.play__button button {
  padding: 2px 4px;
  background: #000;
  color: #fff;
  font-size: 6px;
  border-radius: 8px;
  margin: auto;
}
.info__text__wrapper {
  padding: 20px;
  background-color: lightgreen;
  border: 2px solid gray;
}
.info__text {
  font-weight: bold;
}
.mint__form__wrapper {
  margin-top: 50px;
  padding: 20px;
  border: 2px solid gray;
  background: rgb(247, 255, 247);
}
.double__input__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.double__input__row input {
  border: none;
  background-color: #eeeeee;
  width: 100%;
}
.nfttunz__input__border {
  border: 1px solid green;
  margin: 5px;
}
.nfttunz__file__wrapper {
  border: 1px solid green;
  margin: 5px;
  background-color: #eeeeee;
  padding: 30px 0px;
  min-height: 166px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nfttunz__textarea {
  background-color: #eeeeee;
  height: 100%;
  padding: 6px 12px;
  resize: none;
}
.nfttunz__textarea:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.nfttunz__select {
  padding: 6px 12px;
  background-color: #eeeeee;
}
.nfttunz__select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.nfttunz__checkbox__wrapper {
  display: flex;
  padding: 6px 12px;
}
.nfttunz__checkbox__wrapper input {
  width: auto;
  margin-right: 10px;
}
.upload__button {
  background-color: #aa0c0b;
  color: wheat;
  font-size: 9px;
  border-radius: 8px;
  padding: 5px 12px;
  margin: 10px 0px;
}
.upload__button:hover {
  cursor: pointer;
}
.steps__input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
.button__and__loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nfttunz__profile__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}

.nfttunz__profile__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nfttunz__profile__link {
  padding: 0px 10px;
  font-weight: bold;
  font-size: 12px;
}
.profile__header__icons a {
  color: #fff;
  padding: 0px 5px;
}

.sub__profile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__card {
  padding: 40px;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
}
.profile__card h4 {
  font-size: 16px;
}
.file__player {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
  width: min-content;
  padding: 5px;
  margin: auto;
}
.arrow__wrapper {
  padding: 10px;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  background-color: #fff;
}
.left__ {
  top: 20%;
  left: -3.5%;
}
.right__ {
  top: 20%;
  right: -3.5%;
}
.hide__sm {
  display: none;
}

/* Style the input fields */
.preview__card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 4px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  transition: 0.5s all ease-in-out;
  border: 4px solid transparent;
}
.preview__card h6 {
  margin-top: 10px;
}
.preview__card a {
  display: block;
  margin: auto;
  margin-top: 10px;
}
.steps__input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  margin: 4px 0px;
}
.step__button__wrapper {
  margin-top: 15px;
  text-align: right;
}
.step__button__wrapper button {
  background-color: #491b19;
  color: #fff;
  font-size: 14px;
  padding: 6px 18px;
  border-radius: 4px;
  margin-right: 5px;
  border: none;
  outline: none;
}
.double__input__per__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.double__input__per__row input:first-child {
  margin-right: 5px;
}
.double__input__per__row select:first-child {
  margin-right: 5px;
}
.add__more__input__button {
  background-color: transparent;
  color: #491b19;
  border: none;
  outline: none;
  padding: 8px 14px;
  font-size: 11px;
  display: flex;
  text-decoration: underline;
}
.add__more__input__button i {
  align-self: center;
  margin-left: 5px;
}
.sub__header__with__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
textarea {
  resize: none;
}

input:focus-visible,
select:focus-visible {
  box-shadow: none;
  background-color: #fff;
  /* border: none; */
  outline: none;
}
.auth__button {
  width: 100%;
  background-color: #aa0c0b;
  color: #fff;
  font-weight: 700;
  border: 1px solid #aa0c0b;
  outline: none;
  padding: 8px;
  transition: 0.5s all ease-in-out;
}

.auth__button:hover {
  background-color: #fff;
  color: #aa0c0b;
}

.nfttunz__search__wrapper {
  background-color: #eee;
  display: flex;
  border-radius: 25px;
  width: 50%;
  margin: 40px auto 20px;
  padding: 5px;
}
.nfttunz__search__wrapper input {
  background-color: transparent;
  border: none;
}

.nfttunz__search__main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nfttunz__search__wrapper button {
  border: none;
  outline: none;
  color: #eee;
}
.nfttunz__search__wrapper button:hover {
  background: transparent;
}
.nfttunz__search__wrapper button:focus {
  box-shadow: transparent;
}
.nfttunz__search__wrapper button i {
  color: rgb(189, 184, 184);
}

/* Medium */
@media screen and (min-width: 1700px) {
  .nfttunz__navbar__brand {
    width: 5300px;
  }
}
@media screen and (max-width: 900px) {
  .nfttunz__navbar__brand {
    width: auto;
  }
}
/* Mobile Stuff */
@media screen and (max-width: 600px) {
  .music__card__wrapper {
    margin: 0px 50px;
  }
  .nfttunz__navbar {
    flex-direction: column;
  }
  .nfttunz__navbar__links__wrapper {
    margin: 15px 0px;
  }
  .nfttunz__navbar__search__main__wrapper {
    flex-direction: column;
    margin: 0px 0px 15px;
  }
  .nfttunz__navbar__search__main__wrapper button {
    display: block;
    margin-top: 10px;
  }
  .tags__wrapper {
    display: block;
    text-align: center;
  }
  .tag__wrapper {
    margin-bottom: 10px;
  }
  .nfttunz__avatar__wrapper {
    margin-top: 8px;
    display: none;
  }
}
